h1 {
  margin-bottom: 0;
}

#contact-table td {
  vertical-align: top;
  padding-right: 1em;
}

#michael-picture {
  /* height: 400px; */
  width: 100%;
}

#ra-picture {
  /* height: 100px; */
  display: none;
  width: 15%;
}

body {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px 0px 20px;

  font-family: sans-serif;
}
